IOT Nodereddata.json
[{"id":"b5afc2a7.3f1b","type":"tab","label":"IOT Sensors","disabled":false,"info":""},{"id":"fed18d25.637eb","type":"ibmiot in","z":"b5afc2a7.3f1b","authentication":"apiKey","apiKey":"bc4b02c6.5c4e1","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"7267","applicationId":"","deviceType":"Sensor","eventType":"event_1","commandType":"","format":"json","name":"IBM IoT Sensors","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":100,"y":180,"wires":[["5a39af5c.5e701","9d624178.b4cc7","c3b4b84.5c6a148","d03f7b81.102f78","4dd1d9b1.54db18"]]},{"id":"5a39af5c.5e701","type":"debug","z":"b5afc2a7.3f1b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":180,"wires":[]},{"id":"9d624178.b4cc7","type":"function","z":"b5afc2a7.3f1b","name":"Soilmoisture","func":"global.set('Soilmoisture',msg.payload.Soilmoisture)\nmsg.payload=msg.payload.Soilmoisture\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":100,"wires":[["5a39af5c.5e701","ffe90146.3dedd"]]},{"id":"c3b4b84.5c6a148","type":"function","z":"b5afc2a7.3f1b","name":"Temperature","func":"global.set('Temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":240,"wires":[["5a39af5c.5e701","24b104ce.225aec"]]},{"id":"d03f7b81.102f78","type":"function","z":"b5afc2a7.3f1b","name":"Humidity","func":"global.set('Humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":320,"wires":[["5a39af5c.5e701","56d138ec.54aef8"]]},{"id":"ffe90146.3dedd","type":"ui_gauge","z":"b5afc2a7.3f1b","name":"","group":"5aae2311.82920c","order":0,"width":0,"height":0,"gtype":"gage","title":"Soilmoisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":100,"wires":[]},{"id":"24b104ce.225aec","type":"ui_gauge","z":"b5afc2a7.3f1b","name":"","group":"c1698913.4d3888","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":240,"wires":[]},{"id":"ffea1545.b10868","type":"http in","z":"b5afc2a7.3f1b","name":"","url":"/sensordata","method":"get","upload":false,"swaggerDoc":"","x":180,"y":440,"wires":[["5097d9ee.e309e8"]]},{"id":"cca8654.6d33298","type":"http response","z":"b5afc2a7.3f1b","name":"","statusCode":"","headers":{},"x":550,"y":440,"wires":[]},{"id":"5097d9ee.e309e8","type":"function","z":"b5afc2a7.3f1b","name":"webpage","func":"msg.payload={'Soilmoisture':global.get(\"Soilmoisture\"),'Temperature':global.get(\"Temperature\"),'Humidity':global.get(\"Humidity\"),'tempp':global.get(\"tempp\"),'humid':global.get(\"humid\"),'speed':global.get(\"speed\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":440,"wires":[["cca8654.6d33298"]]},{"id":"9912941e.1ec1c8","type":"ibmiot out","z":"b5afc2a7.3f1b","authentication":"apiKey","apiKey":"bc4b02c6.5c4e1","outputType":"cmd","deviceId":"7267","deviceType":"Sensor","eventCommandType":"home","format":"string","data":"sensordata","qos":0,"name":"IBM IoT Sensors","service":"registered","x":410,"y":560,"wires":[]},{"id":"cb475d56.11a7e","type":"ui_button","z":"b5afc2a7.3f1b","name":"","group":"40787104.035c2","order":3,"width":0,"height":0,"passthru":false,"label":"Sprinkler ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"sprinkleron","payloadType":"str","topic":"","x":200,"y":540,"wires":[["9912941e.1ec1c8"]]},{"id":"e0c219f1.538aa8","type":"ui_button","z":"b5afc2a7.3f1b","name":"","group":"40787104.035c2","order":4,"width":0,"height":0,"passthru":false,"label":"Sprinkler OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"sprinkleroff","payloadType":"str","topic":"","x":210,"y":640,"wires":[["9912941e.1ec1c8"]]},{"id":"56d138ec.54aef8","type":"ui_gauge","z":"b5afc2a7.3f1b","name":"","group":"40787104.035c2","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":320,"wires":[]},{"id":"4dd1d9b1.54db18","type":"cloudant out","z":"b5afc2a7.3f1b","name":"","cloudant":"","database":"sensordata","service":"node-red-gbyin-2020--cloudant-1601471033468-10979","payonly":true,"operation":"insert","x":160,"y":360,"wires":[]},{"id":"9f3fc816.3c59f8","type":"http in","z":"b5afc2a7.3f1b","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":190,"y":800,"wires":[["81763804.6a3c58"]]},{"id":"3826cc40.40cf14","type":"http response","z":"b5afc2a7.3f1b","name":"","statusCode":"","headers":{},"x":560,"y":800,"wires":[]},{"id":"81763804.6a3c58","type":"function","z":"b5afc2a7.3f1b","name":"command","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":800,"wires":[["3826cc40.40cf14","9912941e.1ec1c8","aa6c08fb.5af2a8"]]},{"id":"aa6c08fb.5af2a8","type":"debug","z":"b5afc2a7.3f1b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":720,"wires":[]},{"id":"97a5a40f.f07f48","type":"http request","z":"b5afc2a7.3f1b","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q=Bengaluru,IN&appid=ac5b791fdee7b851fb110ff38953d8d3","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":880,"wires":[["538d705f.b0834","e1c9c177.d5fe2","c7926a3e.945868","1f1a1cc6.8a7583"]]},{"id":"65b211d4.b3c02","type":"inject","z":"b5afc2a7.3f1b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":880,"wires":[["97a5a40f.f07f48"]]},{"id":"538d705f.b0834","type":"debug","z":"b5afc2a7.3f1b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":900,"wires":[]},{"id":"e1c9c177.d5fe2","type":"function","z":"b5afc2a7.3f1b","name":"","func":"global.set(\"tempp\",msg.payload.main.temp_max)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":980,"wires":[[]]},{"id":"c7926a3e.945868","type":"function","z":"b5afc2a7.3f1b","name":"","func":"global.set(\"humid\",msg.payload.main.humidity)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":1040,"wires":[[]]},{"id":"1f1a1cc6.8a7583","type":"function","z":"b5afc2a7.3f1b","name":"","func":"global.set(\"speed\",msg.payload.wind.speed)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":1100,"wires":[[]]},{"id":"bc4b02c6.5c4e1","type":"ibmiot","z":"","name":"iot API","keepalive":"60","serverName":"lfsr5c.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"5aae2311.82920c","type":"ui_group","z":"","name":"Soilmoisture","tab":"31bf73a0.73c30c","order":1,"disp":true,"width":"6","collapse":false},{"id":"c1698913.4d3888","type":"ui_group","z":"","name":"Temperature","tab":"31bf73a0.73c30c","order":2,"disp":true,"width":"6","collapse":false},{"id":"40787104.035c2","type":"ui_group","z":"","name":"Humidity","tab":"31bf73a0.73c30c","order":3,"disp":true,"width":"6","collapse":false},{"id":"31bf73a0.73c30c","type":"ui_tab","z":"","name":"Sprinkler System","icon":"dashboard","disabled":false,"hidden":false}]